@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background-color: #f2f2f2;
}

h1{
  font-size: 3rem;
  color: #5680e9;
  text-align: center;
  margin: 50px;
}

a{
  text-decoration: none;
}

.container{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.card{
  width: 300px;
  background-color: #feffff;
  text-align: center;
  padding: 30px;
}

.card:hover{
  
}

.card .pic{
  display: block;
  width: 130px;
  height: 130px;
  z-index: 1;
  position: relative;

}

.card .pic::before{
  content: "";
  width: 100%;
  border-radius: 50%;
  background-color: #5680e9;
  position: absolute;
  box-orient: 135%;
  right: 0;
  left: 0;
}

.card h2{
 
}

.icons i{
  display: none;
}

.icons i:hover{
  display: ;
  padding: 0 15px;
  background-color: #5680e9;
}