@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  background-color: #dfe6fa;
}

h1{
  text-align: center;
  margin: 50px 0;
  font-size: 3rem;
  color: #5e9cb6;
}
.container{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

h2{
  padding: 12px 0;
  font-size: 1rem;
}

h3{
  text-transform: uppercase;
  font-size: .9rem;
  color: #a1c3d1;
  letter-spacing: .1rem;
}

.card {
  width: 380px;
  background-color: #f7f9fb;
  text-align: center;
  border-radius: 5px;
  padding: 50px;
}

.card:hover{
  background-color: #88a2ce;
  transition: .6s;
  color: #f7f9fb;
}

.card .img{
  width: 100px;
  height: auto;
  border: 5px solid #a1c3d1;
  border-radius: 50%;
}

.card:hover .img{
  transform: scale(1.1);
  transition: .6s;
}

.card .icons{
  padding: 60px 0 20px 0;
  display: flex;
  justify-content: space-between;
}

.card a{
  text-decoration: n;
  color: inherit;
}

